{{#if logged_in}}
<div class="row text-center">
  <div class="col-auto">
    <h2>Welcome, {{username}} to the Exercise HomePage</h2>
  </div>
</div>

<div class="row mt-4">
  <a class="col-md-4" href="/createworkout">
        <button class="btn btn-lg btn-primary " id="newexercise-btn" >Add New Exercise</button>
      </a>

{{#if exercises.length}}
   <div class="col-md-6 exercise-list">
    <h3>Today's Exercises:</h3>

    {{#each exercises as |exercise|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4>{{exercise.title}}</h4>
        <ul>
          <li>Minutes Completed: {{exercise.minutes}}</li>
         <li>Total Calories Burned: {{calculateCalories exercise}}</li>
        </ul> 
        
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger " data-id="{{exercise.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}

  <h3> Total Calories Burned Today: {{totalCalories exercises}}</h3>
</div>

<script src="/js/exercise.js"></script>

{{/if}}

