<!--
  
  <div class="friend-requests">
  <h1>Friend Requests</h1>
  {{#if pendingRequests}}
  <ul>
    <! This Handlebars template conditional checks if the pendingRequests array has any elements. >
    {{#each pendingRequests}}
    <li>
      <span>{{user.username}} wants to be your friend</span>
      <button class="accept-friend" data-friend-id="{{user.id}}">Accept</button>
      <button class="reject-friend" data-friend-id="{{user.id}}">Reject</button>
    </li>
    {{/each}}
  </ul>
  {{else}}
  <p>No friend requests at the moment.</p>
  {{/if}}
</div>

<div class="friend-search">
  <h1>Search for Friends</h1>
  <form id="friend-search-form">
    <div class="form-group"></div>
    <input type="text" id="friend-username" placeholder="Enter a username">
    <button type="submit">Send Friend Request</button>
    </div>
  </form>
</div>

  <h1>Current Friends</h1>

  <! This Handlebars template conditional checks if the friends array has any elements >
  {{#if friends}}
  <ul>
    {{#each friends}}
    <li>
      <img src="{{user.profile_photo}}" alt="{{user.username}}" width="50" height="50">
      <span>{{user.username}}</span>
    </li>
    {{/each}}
  </ul>
  {{else}}
  <p>You don't have any friends yet.</p>
  {{/if}}

 <script src="friendHandlebars.js"></script> -->