{{#if logged_in}}
<h2>{{ username }}</h2>
<section class="profile-pic">
    <img src="{{ profile_photo }}" alt="{{ username }}" class="profile-picture">
</section>
<section class="user-activities">
    <h2>Today's Exercises</h2>
    <ul>
        {{#each exercise as |exercise|}}
            <li>
                {{ exercise.title }} for <span class="workoutMinutes">{{ exercise.minutes }}</span> minutes<br>
                This exercise burns <span class="caloriesPerhour">{{ exercise.calories_per_hour }}</span> calories per hour.<br>
                You burned <span class="caloriesBurned"></span> calories!
            </li>
        {{/each}}
    </ul>
</section>
<section class="user-nutrition">
    <h2>Today's Nutrition</h2>
    <ul>
        {{#each nutrition as |nutrition|}}
            <li>
                <span class="servings">{{ nutrition.calorie_count_servings }}</span> serving(s) of {{ nutrition.food_name }}<br>
                There are <span class="calsPerServing">{{ nutrition.calorie_count_per_serving }}</span> calories per serving.
                You consumed <span class="caloriesConsumed"></span> calories.
            </li>
        {{/each}}
    </ul>
</section>

<div class="myExercises">
    <button type="button" class="btn btn-primary" id="exerciseButton" onclick="window.location.href='/api/workouts'">My Exercises</button>
</div>
<div class="myNutrition">
    <button type="button" class="btn btn-primary" id="nutritionButton">My Nutrition</button>
</div>

<div class="myFriends">
    <button type="button" class="btn btn-primary" id="friendsButton">My Friends</button>
</div>

<script src="/js/userHandlebars.js"></script>
{{/if}}
