{{#if logged_in}}
<h2 class="text-center">Welcome {{ username }}</h2>

<!-- <section class="profile-pic text-center">
    <img src="{{ profile_photo }}" alt="{{ username }}" class="profile-picture">
</section>
<section class="uploadForm m-5  text-center">
    <h2>Upload Profile Photo</h2>
    <form id="profilePhotoForm" enctype="multipart/form-data">
    {{!-- enctype set to multipart/form-data is necessary for encoding a file upload to process binary data to a server and or cloud--}}
        <input type="file" id="profilePhotoInput" accept="image/*" name="profile_photo" />
        <button type="submit">Upload</button>
    </form>
</section> -->

<div class="row">
<section class="user-activities col-md-6 ">
    <h2>Today's Exercises</h2>
    <ul>
        {{#each exercises as |exercise|}}
            <li>
                {{ exercise.title }} for <span class="workoutMinutes">{{ exercise.minutes }}</span> minutes<br>
                This exercise burns <span class="caloriesPerHour">{{ exercise.calories_per_hour }}</span> calories per hour.<br>
                You burned <span class="caloriesBurned"></span> calories!
            </li>
        {{/each}}
    </ul>
</section>
<section class="user-nutrition col-md-6 ">
    <h2>Today's Nutrition</h2>
    <ul>
        {{#each nutrition as |nutrition|}}
            <li>
                <span class="servings">{{ nutrition.calorie_count_servings }}</span> serving(s) of {{ nutrition.food_name }}<br>
                There are <span class="calsPerServing">{{ nutrition.calorie_count_per_serving }}</span> calories per serving.
                You consumed <span class="caloriesConsumed"></span> calories.
            </li>
        {{/each}}
    </ul>
</section>
</div>
    <footer class="row bg-light">
        <div class="myExercises col-md-5 mx-5">
    <button type="button" class="btn btn-primary btn-lg " id="exerciseButton" onclick="window.location.href='/api/workouts'">My Exercises</button>
        </div>
    <div class="myNutrition col-md-5 mx-5">
    <button type="button" class="btn btn-primary btn-lg " id="nutritionButton">My Nutrition</button>
        </div>

    <!-- <div class="myFriends col-md-3 mx-5">
        <button type="button" class="btn btn-primary btn-lg " id="friendsButton">My Friends</button> -->
</div>
</footer>
<script src="/js/userHandlebars.js"></script>
{{/if}}
